<a href="https://colab.research.google.com/github/sriji1212/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/homework_soln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 1
What's the version of NumPy that you installed?

## Question 2

What's the version of Pandas?

In [4]:
import numpy as np
import pandas as pd
print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

## Getting the data
For this homework, we'll use the same dataset as for the next session - the car price dataset.

Download it from here.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [83]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-12 14:49:25--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv.1’

data.csv.1          100%[===================>]   1.41M  --.-KB/s    in 0.06s

2021-09-12 14:49:25 (24.1 MB/s) - ‘data.csv.1’ saved [1475504/1475504]

In [84]:
df = pd.read_csv('data.csv')

In [85]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

## Question 3
What's the average price of BMW cars in the dataset?

In [86]:
df[(df.Make == "BMW")]['MSRP'].mean()

61546.76347305389

Question 4
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [87]:
df.isnull().sum()
df[(df['Year'] >= 2015)].isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP              51
Engine Cylinders        8
Transmission Type       0
Driven_Wheels           0
Number of Doors         5
Market Category      1324
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

##Question 5
Calculate the average "Engine HP" in the dataset.
Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
Now, calcualte the average of "Engine HP" again.
Has it changed?

In [88]:
org_mean = round(df['Engine HP'].mean())
print(org_mean)

249

In [89]:
df['Engine HP'] = df['Engine HP'].fillna(org_mean)
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP               0
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [90]:
new_mean = round(df['Engine HP'].mean())
print(new_mean)

249

## Question 6
Select all the "Rolls-Royce" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
What's the sum of all the elements of the result?

In [98]:
X = df[df['Make']=='Rolls-Royce'][['Engine HP','Engine Cylinders','highway MPG']].drop_duplicates().to_numpy()
XTX = np.dot(X.T, X)
invXTX = np.linalg.inv(XTX)
invXTX.sum()

0.032212320677486125

## Questions 7
Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?.

In [100]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = np.dot(np.dot(invXTX, X.T), y)
print(w[0])

0.19989598183188978